<div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-12 mt-4">
        <h2 class="mb-4"><b>CONTENIDO VISIBLE SOLO POR USUARIOS VALIDADOS</b></h2>

        <div>
            <a href="/">Home</a>
            |
            <a href="/logout">Salir</a>
        </div>
    </div>
</div>