<style>
    form {
        background: #e1e1e1;
        border-radius: 1em;
    }
</style>

<div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-12 mt-4">
        <h2 class="mb-4"><b>Registro de usuario</b></h2>

        <form class="p-4" action="http://localhost:3000/register" method="post">
            <div class="form-group mb-4">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" name="firstName" required="required">
            </div>

            <div class="form-group mb-4">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" name="lastName" required="required">
            </div>

            <div class="form-group mb-4">
                <label for="userName">Usuario</label>
                <input type="email" class="form-control" name="userName" required="required">
            </div>

            <!-- Completar con lastName y userName -->

            <div class="form-group mb-4">
                <label for="password">Clave</label>
                <input type="password" class="form-control" name="password" required="required">
            </div>

            <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Registrar</button>
            
            {{#if sessionInfo.errorMessage }}
            <div class="alert alert-danger mt-4" role="alert">{{sessionInfo.errorMessage}}</div>
            {{/if}}
        </form>
    </div>
</div>

<script>
</script>