<style>
</style>

<div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-12 mt-4">
        <h2 class="mb-4"><b>CURSOS</b></h2>

        <div>
            {{#each courses}}
                <p>{{this.title}}</p>
            {{/each}}
        </div>
    </div>
</div>

<script>
</script>