<style>
</style>

<div class="row">
    <div class="d-flex justify-content-end p-3" style="background-color: #f1f1f1;">
        <a href="admin" target="_blank" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Admin</a>
        &nbsp;
        <a href="logoutfrm" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Salir</a>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-12 mt-4">
        <h2 class="mb-4"><b>Contenido privado</b></h2>

        <h3>Bienvenido/a {{user.name}}, {{user.email}}</h3>
        <p>Podés visualizar este contenido porque te autenticaste correctamente</p>
    </div>
</div>

<script>
</script>