<div class="container-fluid">
    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>CODER - Sistema de usuarios</b></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-12 m-3">
            <ul>
                {{#each users}}
                    <li>{{this.lastName}}, {{this.firstName}} ({{this.userName}})</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const wsc = io('ws://localhost:8080');
        wsc.emit('Cliente 01 intentando conectar');

        wsc.on('confirm', (data) => {
            console.log(data);
        });
    </script>
</div>