<div class="container-fluid">
    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>Bienvenido al SISTEMA DE USUARIOS</b></h1>
        </header>
    </div>

    <div class="row">
        <ul>
            <li>{{nombre}}</li>
            <li>{{apellido}}</li>
        </ul>
    </div>
</div>