<div class="container-fluid">
    <div class="row">
        <header class="bg-success text-white p-3" style="height: 25vh;">
            <h1><b>Listado</b></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-12 m-3">
            <ul>
                {{#each products}}
                <li>ID {{this.id}}, {{this.description}} (${{this.price}}) ({{this.stock}})</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>