<div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-12 mt-4">
        <h2 class="mb-4"><b>CONTENIDO VISIBLE POR USUARIO AUTENTICADO</b></h2>
        <h3>{{ data.user.lastName }}, {{ data.user.firstName }} ({{ data.user.userName }})</h3>
        <a href="/logout">Salir</a>
    </div>
</div>